@model IEnumerable<TestCMS.Entity.Entity.ShippingTable> 
<div class="main">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            <a asp-action="Complete" asp-route-shipId="@item.ShipId">完成出貨</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
