@using TestCMS.Helper;
@model PaginatedList<TestCMS.Entity.VM.ProductDataVM>;



<div class="banner">
    <h2>尋找最佳方案</h2>
    <span class="dash"></span>
    <h4>因應不同產業，提供最適應的解決方案</h4>
</div>
<div class="main">
    <div class="row gx-0">
        <div class="col-xl-2 sidebar sidebar-margin">

            @foreach (var item in ViewBag.Categories)
            {
                <a class="btn btn-lg sidebar-btn" id=@item.Id asp-route-searchStr="@item.Name">@item.Name</a>
            }

        </div>
        <div class="col">
            <div class="func-line col-12">
                <a asp-action="CategoryAdd" class="btn btn-lg func-btn ">+新增類別</a>
                <a asp-action="ProductAdd" class="btn btn-lg func-btn ">+新增產品</a>
            </div>

            <div class="p-body">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-3 col-lg-6">
                            <div class="c-card position-relative">
                                @if (item.IsNew)
                                {
                                    <span class="tag-new">
                                        新上市
                                    </span>
                                }
                                @if (item.Product.SupplyStatus.Trim() == "N")
                                {
                                    <span class="tag-noship">
                                        已下架
                                    </span>
                                }
                                <div class="img-container">
                                    <img class="img-center" src=@item.Product.Image alt="">
                                </div>
                                <div class="mt-3 vstack gap-2">
                                    <div>
                                        <span class="c-badge badge rounded-pill">@item.Product.Category.Name</span>
                                    </div>

                                    <div class="sub-title">
                                        <a asp-controller="Product" asp-action="ProductEdit" asp-route-id="@item.Product.Id">@item.Product.Name</a>
                                    </div>

                                    <div class="c-text">
                                        <span>@item.Product.Intro</span>
                                    </div>
                                </div>
                                @if (item.Product.SupplyStatus.Trim() == "Y")
                                {
                                    <a asp-controller="Cart" asp-action="CartAdd" asp-route-pId=@item.Product.Id class="plus-btn" id=@item.Product.Id>
                                        <i class="bi bi-plus-circle-fill"></i>
                                    </a>
                                }

                            </div>
                        </div>
                    }
                </div>

                @{
                    var prevDisabled = !Model.HasPreviousPage ? "invisible" : "";
                    var nextDisabled = !Model.HasNextPage ? "invisible" : "";
                }

                <div class="text-center">
                    <a asp-action="Index"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-lg btn-outline-primary @prevDisabled">
                        上一頁
                    </a>
                    <a asp-action="Index"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-lg btn-outline-primary @nextDisabled">
                        下一頁
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script>
        $(function () {
            $(".sidebar-btn").click(function (ev) {
                ev.preventDefault();
                let a = ev.target;
                location.href = "/Product/Index?searchStr=" + a.textContent;
            })
        });
    </script>*@
@*<script type="text/javascript">
    $(function () {
        $(".plus-btn").click(function () {
            $.ajax({
                //請求模式
                type: "put",
                //請求的URL
                url: "/Product/CartAdd",
                //預期server responde的資料型態
                dataType: "text",
                //請求送出發送的資料(body內文json字串)
                data: pId = "1",
                //內文型態
                contentType: "application/json",
                success: function (result) {
                    $("#msg").text(result);
                },
                error: function (err) {
                    alert("error");
                }
            });
        });
    });
    
</script>*@
}
