@using TestCMS.Helper;
@model PaginatedList<TestCMS.Entity.VM.ProductDataVM>;
<button id="js-hamburger" class="hamburger position-top-right" type="button">
    <span id="js-top-line" class="top-line"></span>
    <span id="js-center-line" class="center-line"></span>
    <span id="js-bottom-line" class="bottom-line"></span>
</button>
<div class="main position-relative">
    <div class="banner bg-hint-blue">
        <h3>尋找最佳方案</h3>
        <div class="dash"></div>
        <h5>因應不同產業，提供最適應的解決方案</h5>
    </div>
    <div class="container">
        <div class="row">
            <col-12>
                <div class="func-line">
                    <a asp-controller="Category" asp-action="CategoryAdd" class="btn btn-lg func-btn invisible">+新增類別</a>
                    <a asp-action="ProductItemCreate" class="btn btn-lg func-btn ">+新增產品</a>
                </div>
            </col-12>
        </div>
        <div class="row">
            <div class="col-5 col-md-3">
                <div id="nav-panel" class="nav-panel">
                    <a class="btn btn-lg sidebar-btn" asp-action="ProductQueryResult">全部產品</a>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <a class="btn btn-lg sidebar-btn" id=@item.Id asp-action="ProductQueryResult" asp-route-searchStr="@item.Name">@item.Name</a>
                    }
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="card-container">
                    @foreach (var item in Model)
                    {
                        <div class="card-item shadow">
                            @if (item.IsNew)
                            {
                                <span class="tag-top-right bg-base-red">
                                    新上市
                                </span>
                            }
                            @if (item.Product.SupplyStatus.Trim() == "N")
                            {
                                <span class="tag-top-right bg-secondary">
                                    已下架
                                </span>
                            }
                            <div class="img-container bg-base-gray">
                                <img class="img-center" src=@item.Product.SaveImageUrl>
                            </div>
                            <div class="mt-3 vstack gap-2">
                                <div>
                                    <span class="category-badge badge rounded-pill bg-base-blue">@item.Product.Category.Name</span>
                                </div>

                                <div class="sub-title">
                                    <a asp-controller="Product" asp-action="ProductItemEdit" asp-route-id="@item.Product.Id">@item.Product.Name</a>
                                </div>

                                <div class="text">
                                    <span>@item.Product.Intro</span>
                                </div>
                            </div>
                            @if (item.Product.SupplyStatus.Trim() == "Y")
                            {
                                <a class="plus-btn" id=@item.Product.Id
                                   asp-controller="Cart" asp-action="CartItemAdd" asp-route-productId=@item.Product.Id>
                                    <i class="bi bi-plus-circle-fill"></i>
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-12 col-md-9">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <div class="text-center small-hidden">
                    <a asp-action="ProductQueryResult"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-lg btn-outline-primary @prevDisabled">
                        上一頁
                    </a>
                    <a asp-action="ProductQueryResult"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-lg btn-outline-primary @nextDisabled">
                        下一頁
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".cross").hide();
            $(".menu").hide();
            $(".hamburger").click(function () {
                $(".menu").slideToggle("slow", function () {
                    $(".hamburger").hide();
                    $(".cross").show();
                });
            });
            $(".cross").click(function () {
                $(".menu").slideToggle("slow", function () {
                    $(".cross").hide();
                    $(".hamburger").show();
                });
            });
        });
    </script>

    <script>
        $("#js-hamburger").click(function () {
            //this.style.backgroundColor = "var(--base-gray)";
            $(this).toggleClass("active");
            $("#js-top-line").toggleClass("active");
            $("#js-center-line").toggleClass("active");
            $("#js-bottom-line").toggleClass("active");
            $("#nav-panel").toggleClass("show");
        });
    </script>
}